<%= form_with model: @post, id: 'post_form', data: {remote: false, 'parsley-validate' => true} do |f| %>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
      <%= f.text_field :title, class: 'form-control post-title', required: true, placeholder: 'Title' %>
    </div>

    <div class="form-group">
      <div id="editor" class="editorable"></div>
    </div>

    <div class="clearfix"></div>
  </div>
<% end %>
