<!DOCTYPE html>
<html>
<head>
  <title>Proton layer</title>
  <%= stylesheet_link_tag    "proton/layer/application", media: "all" %>
  <%= javascript_include_tag "proton/layer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
