<div class="navbar nav_title">
  <%= fa_icon_link root_path, 'home', ' Proton Backend', class: 'site_title' %>
</div>

<div class="profile clearfix">
  <div class="profile_pic"></div>
  <div class="profile_info clearfix">
    <div class="pull-right">
      <span>Welcome,</span>
      <h2><%= current_user.email %></h2>
    </div>
  </div>
</div>
